* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utility class */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bg-green {
  background: #7CBB02;
}

.bg-blue {
  background: #0C325A;
}

.bg-grey {
  background: #D3D3D3;
}


/* /Utility class */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 70%;
}

.img-container {
  background-image: url(../img/banner_header.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 125% 110%;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}
.nav-bar {
  height: 10%;
  padding-top: 1%;
  line-height: 3em;
}

.nav-logo {
  width: 15%;
}

.nav-middle {
  width: 55%;
  text-align: left;
}

.nav-right {
  width: 30%;
  text-align: right;
}

.logo {
}

.nav-middle div  {
  float: left;
  display: inline-block;
  padding-right: 1em;
}

.nav-middle div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.nav-right div  {
  float: left;
  display: inline-block;
  margin-left: 3%;
}

.nav-right div a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  padding: 10px 20px;
}

.btn-green {
  border-radius: 5px;
  padding: 10px ;
}

.btn-void {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
}

.nav-bar::after {
  content: "";
  display: table;
  clear: both;
}

.container-hero {
  height: 90%;
  position: relative;

}

.div-hero {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-hero {
  font-weight: 500;
  color: white;
  font-size: 49px;
  margin-bottom: 40px;
}

.bnt-hero {
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.main {
  width: 80%;
  height: 100%;
  margin: auto;
}

.row-main-top {
  width: 100%;
  height: 130px;
  background: #D3D3D3;
  text-align: center;
  padding: 30px;
}

.main-container {
  width: 80%;
  height: 1000px;
  margin: auto;
}

.col-2 , .col-1 , .col-3{
  width: 33%;
  height: 500px;
  position: relative;
}
.col-1 img , .col-2 img , .col-3 img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-1 img {
  max-width: 30%;
}
.col-2 img {
  max-width: 40%;
}
.col-3 img {
  max-width: 35%;
}
.col-1 h2 , .col-2 h2, .col-3 h2 {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7CBB02;
  width: 65%;
}
.col-1 p , .col-2 p , .col-3 p {
  text-align: center;
}
.col-1 p {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.col-2 p {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.col-3 p {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.row-main-middle {
  width: 100%;
  height: 55%;
  border-bottom: 1px solid lightgray;
}

.hr-col {
  width: 13%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: lightgray;
}
